.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.Profile {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 1320px;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.container1 {
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.text {
  color: var(--dl-color-secondary-700);
  font-size: 2rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: justify;
  margin-bottom: var(--dl-space-space-halfunit);
}
.container3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.text02 {
  color: var(--dl-color-secondary-700);
  font-size: 1.86rem;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.text05 {
  text-align: justify;
}
.image {
  width: 200px;
  height: 200px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius75);
}
.Profile1 {
  width: 1058px;
  height: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: flex-start;
}
.container4 {
  width: 191px;
  height: 188px;
  display: flex;
  margin-top: var(--dl-space-space-tripleunit);
  margin-left: var(--dl-space-space-doubleunit);
  border-radius: var(--dl-radius-radius-round);
  background-size: cover;
  background-image: url("/playground_assets/pb-200h.jpeg");
  background-position: center;
}
.container5 {
  flex: 2;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
}
.container6 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: space-between;
}
.text21 {
  color: var(--dl-color-secondary-700);
  font-size: 1.5rem;
  font-style: normal;
  margin-bottom: var(--dl-space-space-halfunit);
}
.text22 {
  font-size: 1.125rem;
  text-align: justify;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 1.625;
  text-transform: none;
  text-decoration: none;
}
.text25 {
  text-align: justify;
}
@media(max-width: 991px) {
  .Profile {
    max-width: 100%;
  }
  .container1 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-tripleunit);
  }
  .image {
    display: none;
  }
  .Profile1 {
    width: 100%;
    height: 600px;
    max-width: 100%;
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .container4 {
    display: none;
  }
  .container5 {
    margin-left: var(--dl-space-space-tripleunit);
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .Profile {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .container1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container2 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .text {
    margin-top: var(--dl-space-space-unit);
  }
  .container3 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .text02 {
    margin-top: var(--dl-space-space-unit);
  }
  .Profile1 {
    width: 100%;
    height: 100%;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .container5 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .container6 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
  .text21 {
    margin-top: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .image {
    display: none;
  }
  .Profile1 {
    height: 1069px;
  }
}
