.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.container1 {
  width: 100%;
  height: 760px;
  display: flex;
  padding: var(--dl-space-space-sixunits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.navlink {
  font-weight: 700;
  text-decoration: none;
}
.navlink1 {
  font-weight: 700;
  text-decoration: none;
}
.navlink2 {
  font-weight: 700;
  text-decoration: none;
}
.navlink3 {
  font-weight: 700;
  text-decoration: none;
}
.navlink4 {
  font-weight: 700;
  text-decoration: none;
}
.navlink5 {
  font-weight: 700;
  text-decoration: none;
}
@media(max-width: 991px) {
  .container1 {
    width: 100%;
    height: 762px;
    padding: var(--dl-space-space-sixunits);
  }
  .navlink {
    font-weight: 700;
  }
  .navlink1 {
    font-weight: 700;
  }
  .navlink2 {
    font-weight: 700;
  }
  .navlink3 {
    font-weight: 700;
  }
  .navlink4 {
    font-weight: 700;
  }
  .navlink5 {
    font-weight: 700;
  }
}
@media(max-width: 767px) {
  .container1 {
    width: 100%;
    height: 638px;
    padding: var(--dl-space-space-sixunits);
  }
  .navlink {
    font-weight: 700;
  }
  .navlink1 {
    font-weight: 700;
  }
  .navlink2 {
    font-weight: 700;
  }
  .navlink3 {
    font-weight: 700;
  }
  .navlink4 {
    font-weight: 700;
  }
  .navlink5 {
    font-weight: 700;
  }
}
@media(max-width: 479px) {
  .container1 {
    width: 100%;
    height: 662px;
    align-self: flex-end;
    align-items: flex-start;
    margin-left: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-sixunits);
    margin-right: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .navlink {
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navlink1 {
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navlink2 {
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navlink3 {
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navlink4 {
    font-weight: 700;
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .navlink5 {
    font-weight: 700;
  }
}
